@charset "UTF-8";

/* ------------------------ tag style reset ---------------------------- */
html{
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

a{
	color: #000;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active{
	color: #000;
	text-decoration: none;
}

/* ------------------------ my style cascade ---------------------------- */

.hidden{
	display: none;
}

.background-highlight,
.background-highlight:hover{
	background: #4ca9b4;
	color: #fff;
}

/* --- .header ------------------------------------------------------------ */
.header{
	height: 50px;
	width: 100%;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #181819;
	border-bottom: 1px solid #7f7f7f;
}
	/* --- .header-menu -------------------------------------------------- */
	.header-menu{
		position: relative;
		background: #181819;
		z-index: 100;
	}
		.header-menu ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			.header-menu ul li:first-child{
				margin-left: -20px;
				width: 200px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.header-menu ul li:first-child a{
				width: 200px;
				height: 50px;
				background-image: url("../images/logo-white.png");
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			.header-menu ul li:last-child{
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.header-menu ul li:last-child:hover{
				cursor: pointer;
			}
				.header-menu ul li:last-child img{
					width: 24px;
					height: 24px;
				}
	/* --- .main-menu -------------------------------------------------- */
	.main-menu{
		margin-top: 1px;
		position: relative;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		transition: 0.3s;
		background: #181819;
	}
	.main-menu.show{
		transform: translateY(0%);
		transition: 0.3s;
	}
		.main-menu a{
			color: #fff;
		}
		.main-menu ul{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			overflow: auto;
		}
			.main-menu ul li{
				padding: 10px 20px;
				font-size: 16px;
				color: #fff;
				background: #181819;
				border-bottom: 1px solid #7f7f7f;
			}
			.main-menu ul li.admin-menu
			{	
				height: 0;
				padding: 0;
				transition: 0.3s;
			}
			.main-menu ul li:hover{
				background: #4ca9b4;
				color: #fff;
			}
				.main-menu ul li.admin-menu.show{
					hegith: 100%;
					padding: 10px 20px;
					transition: 0.3s;
				}
#admin-menu-select{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#admin-menu-select span{
	display: flex;
	align-items: center;
}
#admin-menu-select:hover{
	cursor: pointer;
}
				
/* --- .main ------------------------------------------------------------ */
.main{
   margin-top: 51px;
}

   .main .note-list{
      font-size: 14px;
      line-height: 19px;
      color:#595959;
   }
   
      .main .note-list ul{
   
      }
         
         .main .note-list ul li{
            padding: 20px;
            border-bottom: 1px solid #ddd;
            
         }
         
         .main .note-list ul li > div:first-child{      /* 구조가 안 바뀔 경우 */
            font-size: 17px;
            line-height: 21px;
            color: #000;
            padding-bottom: 5px;
         }
         
         .main .note-list ul li .title{         /* 구조가 바뀔 경우 */
            
         }
         
         .main .note-list ul li > div:not(first-child){
         	margin-top: 5px;
         }
         
         .main .note-list ul li > div:last-child{
         	font-size: 13px;
            display: flex;
            justify-content: space-between;
         }
         
            .main .note-list ul li > div > span:first-child {
               color: #6bacca;
            }

/* --- .footer ------------------------------------------------------------ */
.footer{
	padding: 40px 20px;
	color: #eaeaea;
    font-size: 12px;
    line-height: 1.8;
    text-align: center;
    background: #181819;
    border-top: 1px solid #7f7f7f;
}